{
  "ecmaFeatures": {
    "modules": true,
    "spread": true,
    "restParams": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-unused-vars": 2,
    "no-undef": 2,
    "no-var": "error",
    "semi": "error",
    "indent": ["error", 2],
    "no-multi-spaces": "error",
    "no-multiple-empty-lines": "error",
    "prefer-const": "error",
    "no-use-before-define": "error"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
